In [1]:
import csv

with open('/Users/roberthaire/Documents/Test-bar.csv', newline='') as csvfile:
    schedule = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in schedule:
        print(', '.join(row))

Schedule, is, Subject, to, Change, -, Please, Check, Daily, for, Changes, and, Online, For, Most, Recent, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,,,,,,,
,Mon.,Tues.,Wed.,Thurs.,Fri.,Sat.,Sun.
,8-Mar,9-Mar,10-Mar,11-Mar,12-Mar,13-Mar,14-Mar
Robert, Haire,,,S1,S1,S1,,
954-658-1609,,,8pm,7pm,6pm,,
Alysha, Henderson,,,Open+P1,Open+P1,P1,Open+P1,
305-766-4122,,,1:15, PM,1:30pm,6pm,1:30pm,
Shelly, Latrielle,,,,,Open,Req,Req
561-240-9820,,,,,1:30pm,,
Samantha, D,,,,,,S1,P1
912-550-7900,,,,,,7pm,3:15pm
Britney,,,,,,S2,S1
786-271-6727,,,,,,8pm,8pm
Kathryn,,,Train,Train,,,
561-774-6696,,,8:30pm,7:30pm,,,
Josh, Steiger,,,,,,,
954-803-4060,,,,,,,
Samantha, Sanchez,,,,,,,
786-394-7051,,,,,,,
Tony,,,,,,,
954-937-2927,,,,,,,
Jessica, Marino,,,,,,,
954-461-3798,,,,,,,

In [4]:
import numpy as np
import pandas as pd

In [5]:
dates = pd.date_range("20210521", periods=6)
dates

DatetimeIndex(['2021-05-21', '2021-05-22', '2021-05-23', '2021-05-24',
               '2021-05-25', '2021-05-26'],
              dtype='datetime64[ns]', freq='D')

## data frame to html
https://pythonexamples.org/pandas-render-dataframe-as-html-table/

In [16]:
df = pd.DataFrame(
    {
        "Monday": ["Rob", "s1", "5pm", "Shelly", "p1", "6pm"]
    }
)
html = df.to_html(index=False)
print(df)
print(html)

   Monday
0     Rob
1      s1
2     5pm
3  Shelly
4      p1
5     6pm
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Monday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rob</td>
    </tr>
    <tr>
      <td>s1</td>
    </tr>
    <tr>
      <td>5pm</td>
    </tr>
    <tr>
      <td>Shelly</td>
    </tr>
    <tr>
      <td>p1</td>
    </tr>
    <tr>
      <td>6pm</td>
    </tr>
  </tbody>
</table>